@model OnlineBankingForManagers.WebUI.Models.RegisterViewModel

@{
    ViewBag.Title = "Manager: Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}





@using (Html.BeginForm())
{
  @Html.ValidationSummary(true)
    <table class="table-input-fields">

        <tr>
            <td>
                <p>Please type next data:</p>
            </td>
            <td>
                
            </td>
        </tr>

        <tr>

            <td class="label-input-field">@Html.LabelFor(m => m.UserName):</td>
            <td>
                @Html.TextBoxFor(m => m.UserName, new
                {
                    @placeholder = "Type 8 - 16 characters",
                    @class = "focus",
                    @title = "Your username"
                })*
        </td>

            <td>@Html.ValidationMessageFor(m => m.UserName)</td>
        </tr>
        <tr>
            <td class="label-input-field">@Html.LabelFor(m => m.Password):</td>
            <td>@Html.PasswordFor(m => m.Password, new
                {
                    @placeholder = "Type 8 - 16 characters",
                    @title = "Your password"
                })*</td>
            <td>@Html.ValidationMessageFor(m => m.Password)</td>
        </tr>
        <tr>
            <td class="label-input-field">@Html.LabelFor(m => m.ConfirmPassword):</td>
            <td>
                @Html.PasswordFor(m => m.ConfirmPassword, new
                {
                    @placeholder = "Confirm password",
                    @title = "Confirm your password"
                })*
        </td>

            <td>@Html.ValidationMessageFor(m => m.ConfirmPassword)</td>
        </tr>
        <tr>
            <td class="label-input-field">@Html.LabelFor(m => m.Email):</td>
            <td>
                @Html.TextBoxFor(m => m.Email, new
                {
                    @placeholder = "Type your email",
                    @type = "email",
                    @title = "Your email"
                })*
        </td>

            <td>@Html.ValidationMessageFor(m => m.Email)</td>
        </tr>
        <tr>
            <td class="label-input-field">@Html.LabelFor(m => m.Address):</td>
            <td>@Html.TextBoxFor(m => m.Address, new
                {
                    @placeholder = "Type your address",
                    @title = "Your address"
                })</td>
            <td>@Html.ValidationMessageFor(m => m.Address)</td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Submit" title="Press for submit" /></td>
        </tr>
    </table>
}


        @Html.ActionLink("Cancel and return to Login", "Login")
  