@using OnlineBankingForManagers.Domain.Components
@model OnlineBankingForManagers.Domain.Models.Client

@{
    ViewBag.Title = "Client: Edit " + @Model.FirstName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    @using (Html.BeginForm("Edit", "Client", Model))
    {
        <table class="table-input-fields">
            <tr>
                <td>
                    @if (@Model.FirstName != null)
                    {
                        <p>Edit: @Model.FirstName </p>
                    }
                    else
                    {
                        <p>Please type next data:</p>
                    }
                </td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>@Model.FirstName @Model.LastName</td>
            </tr>
            <tr>
                <td class="label-input-field">@Html.LabelFor(m => m.ContractNumber):</td>
                <td>
                    @Html.TextBoxFor(m => m.ContractNumber, new
                    {
                        @placeholder = "Type don't more 8 characters",
                        @class = "focus input-field",
                        @title = "Client's contract number",
                        @type = "number"
                    })*
                </td>

                <td>@Html.ValidationMessageFor(m => m.ContractNumber)</td>
            </tr>
            <tr>
                <td class="label-input-field">@Html.LabelFor(m => m.FirstName):</td>
                <td>
                    @Html.TextBoxFor(m => m.FirstName, new
                    {
                        @class = "input-field",
                        @placeholder = "Type don't more 16 characters",
                        @title = "Client's firstname",
                    })*
                </td>
                <td>@Html.ValidationMessageFor(m => m.FirstName)</td>
            </tr>
            <tr>
                <td class="label-input-field">@Html.LabelFor(m => m.LastName):</td>
                <td>
                    @Html.TextBoxFor(m => m.LastName, new
                    {
                        @class = "input-field",
                        @placeholder = "Type don't more 16 characters",
                        @title = "Client's lastname"
                    })*
                </td>
                <td>@Html.ValidationMessageFor(m => m.LastName)</td>
            </tr>
            <tr>
                <td class="label-input-field">@Html.LabelFor(m => m.DateOfBirth):</td>
                <td>
                    @Html.TextBoxFor(m => m.DateOfBirth, "{0:yyyy-MM-dd}", new
                    {
                        @class = "input-field",
                        @placeholder = "yyyy-MM-dd",
                        @title = "Client's date of birth",
                        @type = "date"
                    })*
                </td>
                <td>@Html.ValidationMessageFor(m => m.DateOfBirth)</td>
            </tr>
            <tr>
                <td class="label-input-field">@Html.LabelFor(m => m.PhoneNumber):</td>
                <td>
                    @Html.TextBoxFor(m => m.PhoneNumber, new
                    {
                        @class = "input-field",
                        @placeholder = "(###) ###-##-##",
                        @title = "Client's phone number",
                        @type = "tel"
                    })*
                </td>

                <td>@Html.ValidationMessageFor(m => m.PhoneNumber)</td>
            </tr>
            <tr>
                <td class="label-input-field">@Html.LabelFor(m => m.Status):</td>
                <td>
                    @Html.DropDownListFor(m => m.Status, new SelectList(Enum.GetValues(typeof(StatusType)).Cast<StatusType>()), new
                    {
                        @class = "input-field",
                        @title = "Client's status."
                    })
                </td>
                <td>@Html.ValidationMessageFor(m => m.Status)</td>
            </tr>
            <tr>
                <td></td>
                <td class="checkbox">
                    @Html.CheckBoxFor(m => m.Deposit, new
                    {

                        @title = "Client use deposit."
                    })
                    - @Html.LabelFor(m => m.Deposit)
                </td>

                <td>@Html.ValidationMessageFor(m => m.Deposit)</td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Save" title="Press for submit" />
                </td>
            </tr>
            <tr>
                <td> </td>

                <td>
                    @Html.ActionLink("Delete the client ", "Delete", new { clientId = Model.ClientId })

                </td>
            </tr>
            <tr>
                <td>
                    @Html.ActionLink("Cancel and return to List", "List", null, new { @class = "return-link" })
                </td>
            </tr>

        </table>
    }

    <script>
        $('[type="tel" ]').mask('(999) 999-99-99', { placeholder: "#" });
        $('[name="DateOfBirth" ]').mask('9999-99-99', { placeholder: "yyyy-MM-dd" });
    </script>
