@model OnlineBankingForManagers.WebUI.Models.ClientsListViewModel

@{
    ViewBag.Title = "Clients";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="categories">
    @{ Html.RenderAction("Menu", "Nav"); }

    @{var clients = Model.Clients.ToList();
      var columnNames = clients[0].GetType().GetProperties().ToList();
      columnNames.RemoveRange(0, 1);
      }
</div>


<table>
    <tr>
        @foreach (var name in columnNames)
        {
        
        <th onclick="window.location.href='@Url.Action("List", "Client", new {
                                          page = 1, status = Model.CurrentStatus,
                                          sort = name.Name.ToString()
                                      })'">@name.Name.ToString() </th>}
        <th></th>

    </tr>
    
    @foreach (var item in clients)
    {
        <tr onclick= "window.location.href='@Url.Action("Edit","Client",item)'">
       

            <td>
                @Html.DisplayFor(modelItem => item.ContractNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Firstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deposit)
            </td>
        </tr>
    }

</table>
<div class="pager">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List",
                new { page = x, status = Model.CurrentStatus, sort = Model.CurrentSort }))
</div>